p {
    padding-top: 50px;
    padding-left: 300px;
    font-size: 30px;
    font-family: arial;
    color: #ffebcd;
    line-height: 2;
}

h1 {
    font-family: bold;
    color: #7fffd4;
    font-size: 50px;
    padding-top: 80px;
    padding-left: 30px;

}

#b1 a {
    padding-left: 20px;
    width: 50px;
    height: 50px;
}

button {
    font-size: 10px;
}p {
    padding-top: 50px;
    padding-left: 300px;
    font-size: 30px;
    font-family: arial;
    color: #ffebcd;
    line-height: 2;
}

h1 {
    font-family: bold;
    color: #7fffd4;
    font-size: 50px;
    padding-top: 80px;
    padding-left: 30px;

}

#b1 a {
    padding-left: 20px;
    width: 50px;
    height: 50px;
}

button {
    font-size: 10px;
}